<!DOCTYPE html>
<html data-bs-theme="dark" style="font-size:10px">
  <head>
    <meta charset="utf-8">
    <title>Animate a line</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="/assets/mapbox-gl.css" rel="stylesheet"> 
    <link href="/assets/bootstrap.min.css" rel="stylesheet">

    <style>
body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }
    </style>
  </head>
  <body>
    <div id="control" style="
        z-index: 9999;
        position: absolute;
        max-width: 350px;
        background-color: rgba(0,0,0,0.3);
        padding: 20px;
    ">
      <form class="row g-3" method="GET" href="/">
        <div class="col-md-6">
          <label for="origin" class="form-label">Origin</label>
          <input type="text" class="form-control" id="origin" name="origin" value="<%=origin%>">
        </div>
        <div class="col-md-6">
          <label for="destination" class="form-label">Destination</label>
          <input type="text" class="form-control" id="destination" name="destination" value="<%=destination%>">
        </div>
        <div class="col-md-6">
          <label for="date-from" class="form-label">Date From</label>
          <input type="text" class="form-control" id="date-from" name="date-from" value="<%=timerange[0].format("YYYY-MM-DD HH:mm:ss")%>">
        </div>
        <div class="col-md-6">
          <label for="date-to" class="form-label">To</label>
          <input type="text" class="form-control" id="date-to" name="date-to" value="<%=timerange[1].format("YYYY-MM-DD HH:mm:ss")%>">
        </div>
        <div class="col-md-4">
          <label for="longitude" class="form-label">Longitude</label>
          <input type="text" class="map-control form-control" id="longitude" name="longitude" value="<%=longitude%>" readonly>
        </div>
        <div class="col-md-4">
          <label for="latitude" class="form-label">Latitude</label>
          <input type="text" class="map-control form-control" id="latitude" name="latitude" value="<%=latitude%>" readonly>
        </div>
        <div class="col-md-2">
          <label for="zoom" class="form-label">Zoom</label>
          <input type="text" class="map-control form-control" id="zoom" name="zoom" value="<%=zoom%>" readonly>
        </div>
        <div class="col-md-2">
          <label for="car" class="form-label">Car</label>
          <input type="text" class="map-control form-control" id="car" name="car" value="<%=car%>">
        </div>
        <div class="col-12">
          <button id="submit" type="submit" class="btn btn-primary">Set</button>
        </div>
      </form>
    </div>
    <div id="map"></div>
    <button id="pause"></button>
    <script src="/assets/mapbox-gl.js"></script>
    <script src='/assets/turf.min.js'></script>
    <script src='/assets/jquery-3.6.3.min.js'></script>
    <script src='/assets/map-control.js'> </script>

    <script>
// mark a range to the map, let trajectory start from out 


function parseData(data) {
  return Object.keys(data).map(function(key){
    return standarlize(data[key]);
  })
}

// linear standarlize to a fixed frequency to 1 Hz.
// data structure: [position1, position2, ...]
// position structre: [time, longitude, latitude, speed]
function standarlize(data) {
  var cur = data[0][0];
  var i = 0;
  var result = [data[i++]];
  while(i<data.length) {
    // time diff
    var diff = data[i][0] - result[result.length-1][0]
    if (diff < 0) throw new Error("数据异常")
    switch (diff) {
      case 0: break;;
      case 1: 
        result.push(data[i])
        break;
      default:
        var dx = (data[i][1] - result[result.length-1][1]) / diff
        var dy = (data[i][2] - result[result.length-1][2]) / diff
        var ds = (data[i][3] - result[result.length-1][3]) / diff
        var dt = 1;
        // insert frame
        for(var j=1; j<=diff; j++) {
          result.push([
            result[result.length-1][0]+dt,
            result[result.length-1][1]+dx,
            result[result.length-1][2]+dy,
            result[result.length-1][3]+ds,
          ])
        }
    };
    i++;
  }
  return result;
}
    </script>
    <script src="/assets/moment-with-locales.js"> </script>
    <script>
// TO MAKE THE MAP APPEAR YOU MUST
// ADD YOUR ACCESS TOKEN FROM
// https://account.mapbox.com
mapboxgl.accessToken = '<%=mapbox_token%>';
const map = new mapboxgl.Map({
  container: 'map',
  // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
  style: 'mapbox://styles/mapbox/dark-v10',
  center: [<%=longitude%>, <%=latitude%>],
  zoom: <%=zoom%>
});

// Create a GeoJSON source with an empty lineString.
let animation; // to store and cancel the animation
let startTime = 0;
let resetTime = false; // indicator of whether time reset is needed for the animation
const pauseButton = document.getElementById('pause');

map.on('load', () => {
  scretes = <%=JSON.stringify(scretes)%>
  scretes.forEach((data, i) => {
    let name = 'secret-' + i;
    map.addSource(name, {
      'type': 'geojson',
      'data': data
    });
    map.addLayer({
      'id': name,
      'type': 'fill',
      'source': name,
      'paint': {
        "fill-color": "#a1dab4",
        "fill-opacity": 0.4,
      }
    });
  })
  // reset startTime and progress once the tab loses or gains focus
  // requestAnimationFrame also pauses on hidden tabs by default
  document.addEventListener('visibilitychange', () => {
    resetTime = true;
  });

  const colors = [
//  '#a1dab4',
//  '#41b6c4',
//  '#2c7fb8',
//  '#253494',
//  '#feb24c',
//  '#fd8d3c',
//  '#f03b20',
//  '#bd0026'
    '#ff4747',
    '#dad623',
    '#2361da',
    '#4eda23',
  ];

  const windows = {
  }

  function average(name, value) {
    if ( ! windows[name]) windows[name] = [];
    if (windows[name].length > 60) windows[name].shift();
    windows[name].push(value);
    return windows[name].reduce((a, b)=> a+b, 0) / windows[name].length
  }

  function speedLevel(name, speed) {
    if (speed < 20) return 0; // red
    else if (speed < 40) return 1; // yellow
    else if (speed < 60) return 2; // blue
    else return 3;
  }

  function feature(level) {
      return {
          'properties': {
            'color': colors[level] // blue
          },
          'type': 'Feature',
          'geometry': {
            'type': 'LineString',
            'coordinates': []
          }
        }
  }


  var ci = 0;
  // animated in a circle as a sine wave along the map.
  function createLine(name, data) {
    //TODO
    //if (data.length> 2000) return ;
    var i = 0;
    var curLevel;
    var curFeature;

    const geojson = {
      'type': 'FeatureCollection',
      'features': [
      ]
    };

    map.addSource(name, {
      'type': 'geojson',
      'data': geojson
    });
  
    // add the line which will be modified in the animation
    map.addLayer({
      'id': name + '-animation',
      'type': 'line',
      'source': name,
      'layout': {
        'line-cap': 'round',
        'line-join': 'round'
      },
      'paint': {
        //'line-color': colors[ci++],
        'line-color': ['get', 'color'],
        'line-width': 10,
        'line-opacity': 0.8,
        'line-blur': 5
      }
    });

    const popup = new mapboxgl.Popup({ 
      closeOnClick: false,
      closeButton: false,
      closeOnMove: false,
      focusAfterOpen: false,
      maxWidth: '100px',
      offset: 25 
    }).setText(
      ''
    );

    const marker = new mapboxgl.Marker({
      color: '#F84C4C' // color it red
    })
    .setLngLat([0, 0])
    //.setPopup(popup)
    .addTo(map)
    .togglePopup()
    ;

    var startTime = data[0][0];

    function animateLine(timestamp) {
      if (i == data.length) {
        return //stop
        // restart if it finishes a loop
        i = 0;
        startTime = timestamp;
        geojson.features[0].geometry.coordinates = [];
      } else {
        var speed = Math.floor(average(name, data[i][3]));
        var level = speedLevel(name, speed);
        var pos = data[i].slice(1, 3);

        //popup.setText(moment((data[i][0] - startTime) * 1000).format("mm:ss"))
        popup.setText('速度：'+ speed)
        marker.setLngLat(pos);
        // append new coordinates to the lineString
        if (typeof curLevel == 'undefined' || curLevel != level) {
          curLevel = level;
          curFeature = feature(level);
          geojson.features.push(curFeature);
        }

        curFeature.geometry.coordinates.push(pos);
        // then update the map
        map.getSource(name).setData(geojson);
        marker.addTo(map);
        i++;
      }
      // Request the next frame of the animation.
      animation = requestAnimationFrame(animateLine);
    }

    return animateLine();
  };

  //map.setPitch(30);

  var data = parseData(<%=JSON.stringify(data)%>);
  data.forEach(function(data, i){
    createLine("data"+i, data);
  })
  /*
  map.loadImage(
    'https://docs.mapbox.com/mapbox-gl-js/assets/custom_marker.png',
    (error, image) => {
      if (error) throw error;
      map.addImage('custom-marker', image);
      // Add a GeoJSON source with 2 points
      map.addSource('points', {
        'type': 'geojson',
        'data': {
          'type': 'FeatureCollection',
          'features': [
            {
            // feature for Mapbox DC
              'type': 'Feature',
              'geometry': {
                'type': 'Point',
                'coordinates': [
                  -77.03238901390978, 38.913188059745586
                ]
              },
              'properties': {
                'title': 'Mapbox DC'
              }
            },
            {
            // feature for Mapbox SF
              'type': 'Feature',
              'geometry': {
                'type': 'Point',
                'coordinates': [-122.414, 37.776]
              },
              'properties': {
                'title': 'Mapbox SF'
              }
            }
          ]
        }
      });

      // Add a symbol layer
      map.addLayer({
        'id': 'points',
        'type': 'symbol',
        'source': 'points',
        'layout': {
          'icon-image': 'custom-marker',
          // get the title name from the source's "title" property
          'text-field': ['get', 'title'],
          'text-font': [
            'Open Sans Semibold',
            'Arial Unicode MS Bold'
          ],
          'text-offset': [0, 1.25],
          'text-anchor': 'top'
        }
      });
    }
  );

  map.addSource('screte', {
    type: 'geojson',
    data: {
      "type": "FeatureCollection",
      "features": [
        {
          "type": "Feature",
          "properties": {},
          "geometry": {
            "type": "Polygon",
            "coordinates": [
              [
                [
                  120.01454114913939,
                  30.245054357543466
                ],
                [
                  120.00917673110962,
                  30.244655814846315
                ],
                [
                  120.01014232635498,
                  30.239307771595985
                ],
                [
                  120.01561403274536,
                  30.239956596513824
                ],
                [
                  120.01454114913939,
                  30.245054357543466
                ]
              ]
            ]
          }
        }
      ]
    }
  })

  map.addLayer({
    'id': 'mask',
    'type': 'fill',
    'source': 'screte',
    'layout': {
    },
    'paint': {
      'fill-color': "#000000",
      //'line-color': colors[ci++],
    }
  });
  //*/

});
    </script>
  </body>
</html>

