<!DOCTYPE html>
<html data-bs-theme="dark" style="font-size:10px">
  <head>
    <meta charset="utf-8">
    <title>Animate a line</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="/assets/lib/mapbox-gl.css" rel="stylesheet"> 
    <link href="/assets/lib/bootstrap.min.css" rel="stylesheet">

    <style>
body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }
    </style>
  </head>
  <body>
    <div id="control" style="
        z-index: 9999;
        position: absolute;
        max-width: 350px;
        background-color: rgba(0,0,0,0.3);
        padding: 20px;
    ">
      <form class="row g-3" method="GET" href="/">
        <div class="col-md-6">
          <label for="origin" class="form-label">Origin</label>
          <input type="text" class="form-control" id="origin" name="origin" value="<%=origin%>" 
                 data-prefetch="/od_pairs?destination=&origin=">
        </div>
        <div class="col-md-6">
          <label for="destination" class="form-label">Destination</label>
          <input type="text" class="form-control" id="destination" name="destination" value="<%=destination%>"
                 data-prefetch="/od_pairs?destination=&origin=">
        </div>
        <div class="col-md-6">
          <label for="date-from" class="form-label">Date From</label>
          <input type="text" class="form-control" id="date-from" name="date-from" value="<%=timerange[0].format("YYYY-MM-DD HH:mm:ss")%>">
        </div>
        <div class="col-md-6">
          <label for="date-to" class="form-label">To</label>
          <input type="text" class="form-control" id="date-to" name="date-to" value="<%=timerange[1].format("YYYY-MM-DD HH:mm:ss")%>">
        </div>
        <div class="col-md-4">
          <label for="longitude" class="form-label">Longitude</label>
          <input type="text" class="map-control form-control" id="longitude" name="longitude" value="<%=longitude%>" readonly>
        </div>
        <div class="col-md-4">
          <label for="latitude" class="form-label">Latitude</label>
          <input type="text" class="map-control form-control" id="latitude" name="latitude" value="<%=latitude%>" readonly>
        </div>
        <div class="col-md-2">
          <label for="zoom" class="form-label">Zoom</label>
          <input type="text" class="map-control form-control" id="zoom" name="zoom" value="<%=zoom%>" readonly>
        </div>
        <div class="col-md-2">
          <label for="car" class="form-label">Car</label>
          <input type="text" class="map-control form-control" id="car" name="car" value="<%=car%>">
        </div>
        <div class="col-12">
          <button id="submit" type="submit" class="btn btn-primary">Set</button>
        </div>
      </form>
    </div>
    <div id="map"></div>
    <button id="pause"></button>

    <script>
      const ods = <%=JSON.stringify(ods)%>
      const MAPBOX_TOKEN = '<%=mapbox_token%>';
      const CENTER = [<%=longitude%>, <%=latitude%>]
      const ZOOM = <%=zoom%>
      const SECRETS = <%=JSON.stringify(scretes)%>
    </script>

    <script src="/assets/lib/mapbox-gl.js"></script>
    <script src='/assets/lib/turf.min.js'></script>
    <script src='/assets/lib/jquery-3.6.3.min.js'></script>
    <script src="/assets/lib/moment-with-locales.js"> </script>
    <script src="/assets/lib/bootstrap-autocomplete.min.js"> </script>
    <script src='/assets/map-control.js'> </script>
    <script src="/assets/animate.js"> </script>

    <script>
      map.on('load', () => {
        var data = parseData(<%=JSON.stringify(data)%>);
        data.forEach(function(data, i){
          createLine("data"+i, data);
        })
      })
    </script>
  </body>
</html>

